<h1>Pay As You Go- We offer the first session for FREE!</h1>

<div class="columns">
    <ul class="price">
        <li class="header">1 On 1</li>
        <li class="grey">$ 9.99 / hr</li>
        <li>Meet twice a week</li>
        <li>Seperate Chat with tutor</li>
        <li></li>
        <li>1GB Bandwidth</li>
        <li class="grey"><a href="#" class="button">Sign Up</a></li>
    </ul>
</div>

<div class="columns">
    <ul class="price">
        <li class="header" style="background-color:#04AA6D">Group</li>
        <li class="grey">$ 24.99 / hr</li>
        <li>25GB Storage</li>
        <li>25 Emails</li>
        <li>25 Domains</li>
        <li>2GB Bandwidth</li>
        <li class="grey"><a href="#" class="button">Sign Up</a></li>
    </ul>
</div>

<div class="columns">
    <ul class="price">
        <li class="header">Courses</li>
        <li class="grey">$ 49.99 / hr</li>
        <li>50GB Storage</li>
        <li>50 Emails</li>
        <li>50 Domains</li>
        <li>5GB Bandwidth</li>
        <li class="grey"><a href="#" class="button">Sign Up</a></li>
    </ul>
</div>