<!-- <p>{{text}}</p> -->
<!-- <blockquote>
    "This is what I think"
    <footer>
        — <cite class="author">My Name</cite>, <cite class="company">My Company</cite>
    </footer>
</blockquote> -->

<!-- <div class="container">
    <p>"{{text}}"</p>
    <div class="name">
        <p>- Tej Patel</p>
    </div>
</div> -->

<!-- Slick Carousel - Testimonials -->

<section class="testim" id="testim">
    <div class="wrap">

        <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
        <span id="left-arrow" class="arrow left fa fa-chevron-left"></span>

        <ul class="dots" id="testim-dots">
            <li class="dot active"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
        </ul>

        <div class="cont" id="testim-content">

            <div class="active">

                <h2>Lorem N. Ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
            </div>

            <div>

                <h2>Lorem L. Ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
            </div>

            <div>

                <h2>Lorem R. Ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
            </div>

            <div>

                <h2>Lorem P. Ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
            </div>

            <div>

                <h2>Lorem Q. Ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
            </div>
        </div>

    </div>
</section>